/* || Channels */
.sidebar_e031be {
    .wrapper__612a5 {
        margin-left: 0;
        .link_ddbb36 {
            padding-left: calc(16px - var(--indicator-border-size));
            border-radius: var(--indicator-rounding);
            border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
            &:hover {
                background-color: var(--indicator-hovered);
            }
        }
        &.typeThread__5fb37 {
            .link_ddbb36 {
                padding-left: calc(42px - var(--indicator-border-size));
            }
        }
        &.modeSelected__473f1 .link_ddbb36 {
            border-color: var(--item-selected-indicator);
            background-color: var(--item-selected-background);
            &:hover {
                background-color: var(--item-selected-background-hover);
            }
            svg {
                color: var(--item-selected-icon);
            }
            .name__4eb92 {
                color: var(--text-active);
            }
        }
        &.modeConnected__52a8f .link_ddbb36 {
            border-color: var(--item-connected-indicator);
            background-color: var(--item-connected-background);
            &:hover {
                background-color: var(--item-connected-background-hover);
            }
            svg {
                color: var(--item-connected-icon);
            }
            .name__4eb92 {
                color: var(--text-active);
            }
            .wrapper__71278 {
                color: var(--text-active);
                background-color: var(--item-connected-background-hover);
                .users__65981 {
                    background-color: unset;
                }
                .total_c01838 {
                    background-color: var(--item-connected-background-hover);
                    &::after {
                        border-right-color: var(--item-connected-background-hover);
                    }
                }
            }
        }
        &.modeUnreadImportant__35358 {
            .unread__48cf4 {
                display: none;
            }
            .link_ddbb36 {
                border-color: var(--item-unread-indicator);
                background-color: var(--item-unread-background);
                &:hover {
                    background-color: var(--item-unread-background-hover);
                }
                svg {
                    color: var(--item-unread-icon);
                }
                .name__4eb92 {
                    color: var(--text-active);
                }
            }
        }
    }
    // || Private Messages
    .channel__0aef5 {
        margin-left: 0;
        border-radius: var(--indicator-rounding);
        .interactive__3e804 {
            width: 232px;
            padding-left: calc(8px - var(--indicator-border-size));
            border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
            &:hover {
                background-color: var(--indicator-hovered);
            }
            &.selected__37292 {
                border-color: var(--item-selected-indicator);
                background-color: var(--item-selected-background);
                &:hover {
                    background-color: var(--item-selected-background-hover);
                }
                svg path {
                    color: var(--item-selected-icon);
                }
            }
        }
    }
}
