/* || Channels */
.sidebar_ded4b5 {
    .wrapper__7bcde {
        margin-left: 0;
        .link__95dc0 {
            padding-left: calc(16px - var(--indicator-border-size));
            border-radius: var(--indicator-rounding);
            border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
            &:hover {
                background-color: var(--indicator-hovered);
            }
        }
        &.typeThread__2f91c {
            .link__95dc0 {
                padding-left: calc(42px - var(--indicator-border-size));
            }
        }
        &.modeSelected__487d6 .link__95dc0 {
            border-color: var(--item-selected-indicator);
            background-color: var(--item-selected-background);
            &:hover {
                background-color: var(--item-selected-background-hover);
            }
            svg {
                color: var(--item-selected-icon);
            }
            .name__8d1ec {
                color: var(--text-active);
            }
        }
        &.modeConnected__1c02e .link__95dc0 {
            border-color: var(--item-connected-indicator);
            background-color: var(--item-connected-background);
            &:hover {
                background-color: var(--item-connected-background-hover);
            }
            svg {
                color: var(--item-connected-icon);
            }
            .name__8d1ec {
                color: var(--text-active);
            }
            .wrapper__5848b {
                color: var(--text-active);
                background-color: var(--item-connected-background-hover);
                .users__65981 {
                    background-color: unset;
                }
                .total_c01838 {
                    background-color: var(--item-connected-background-hover);
                    &::after {
                        border-right-color: var(--item-connected-background-hover);
                    }
                }
            }
        }
        &.modeUnread_f74c03 {
            .unread__48cf4 {
                display: none;
            }
            .link__95dc0 {
                border-color: var(--item-unread-indicator);
                background-color: var(--item-unread-background);
                &:hover {
                    background-color: var(--item-unread-background-hover);
                }
                svg {
                    color: var(--item-unread-icon);
                }
                .name__8d1ec {
                    color: var(--text-active);
                }
            }
        }
    }
    // || Private Messages
    .channel_c21703 {
        margin-left: 0;
        border-radius: var(--indicator-rounding);
        .interactive_a868bc {
            width: 232px;
            padding-left: calc(8px - var(--indicator-border-size));
            border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
            &:hover {
                background-color: var(--indicator-hovered);
            }
            &.selected_d94cf9 {
                border-color: var(--item-selected-indicator);
                background-color: var(--item-selected-background);
                &:hover {
                    background-color: var(--item-selected-background-hover);
                }
                svg path {
                    color: var(--item-selected-icon);
                }
            }
        }
    }
}
