/* || Discovery */
.sidebar_a4d4d9 {
    .categoryItem_c72b37 {
        margin-left: 0;
        &.selectedCategoryItem_c72b37 .itemInner_c72b37 {
            border-color: var(--item-selected-indicator);
            background-color: var(--item-selected-background);
            &:hover {
                background-color: var(--item-selected-background-hover);
            }
            svg {
                color: var(--item-selected-icon);
            }
        }
        .itemInner_c72b37 {
            padding-left: calc(16px - var(--indicator-border-size));
            border-radius: var(--indicator-rounding);
            border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
            &:hover {
                background-color: var(--indicator-hovered);
            }
        }
    }
}
