/* || Discovery */
.sidebar_e031be {
    .categoryItem__0608f {
        margin-left: 0;
        &.selectedCategoryItem__3e361 .itemInner_eedb2b {
            border-color: var(--item-selected-indicator);
            background-color: var(--item-selected-background);
            &:hover {
                background-color: var(--item-selected-background-hover);
            }
            svg {
                color: var(--item-selected-icon);
            }
        }
        .itemInner_eedb2b {
            padding-left: calc(16px - var(--indicator-border-size));
            border-radius: var(--indicator-rounding);
            border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
            &:hover {
                background-color: var(--indicator-hovered);
            }
        }
    }
}
